<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <title>Results</title>
    <body>
        <div id="wrapper">
            <h2>name: <%= data.name %></h2>
            <h2>location: <%= data.location %></h2>
            <h2>commment: <%= data.comment %></h2>
        </div>
    </body>
</html>
