<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1>Show!</h1>
  <h3>Name: <%= whale.name %></h3>
  <h3>Weight: <%= whale.weight %></h3>
  <h4>Color: <%= whale.color %></h4>
  <a href="/">Home</a>
  <a href="/<%= whale._id %>/edit">Edit</a>
</body>
</html>
