<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Filter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="crayola.json"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" charset="utf-8">
  </head>
  <body>
    <div class="wrapper" ng-controller="colorController">
      <h2>Colors</h2>
      <input type="text" placeholder="Search for Color" ng-model="filter_name">
      <table>
        <tr>
          <th>Name</th>
          <th>Hex</th>
          <th>rgb</th>
        </tr>
        <tr ng-repeat="color in colors | filter:filter_name">
          <td>{{color.name}}
              <td id="colorbox" style="background-color:{{color.hex}}"></td>
          </td>
          <td>{{color.hex}}</td>
          <td>{{color.rgb}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
