<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="this page is dedicated to layouts">
        <title>Layouts</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="layoutsStyle.css">
        <script type="text/javascript" src="jquery-3.1.0.js"></script>
        <script type="text/javascript" src="layouts.css"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Heading</h1>
                <h3>subtitle</h3>
            </header>
            <nav>
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Videos</a>
                <a href="#">Pricing</a>
                <a href="#">Something</a>
                <a href="#">Something more...</a>
                <a href="#">Something even more...</a>
            </nav>
            <main>
                
            </main>
        </div>
    </body>
</html>
